*{
	margin:0;
	padding:0;
	text-align: center;
}
.column-1200{
	width:1200px;
	margin:0 auto;
	/*border:solid 1px;*/
}
.column-600{
	width:600px;
}
.center{
	text-align:center;
}
.column-400{
		width:400px;
		margin:0 auto;
}
.padding{
	padding:5%;
}
.margin-top{
	margin-top:5%;
}
.grey{
	background-color:Gray;
}
.aqua{
	background-color:aqua;
}
.border{
	border:2px solid;
}
.spacer-2x{
	height:2em;
	display:block;
}	
.margin-left-20{
	margin-left:20%;
}
	